langchain4j:
  community:
    dashscope:
      chat-model:
        api-key: ${DASHSCOPE_API_KEY}
        model-name: qwen-max
spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 0
